.dataTable {
  width: calc(100vw - 3rem);
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1rem 0;
}
.dataTable th, .dataTable td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem 1rem;
}
.dataTable th{
  font-weight: 700;
  background: #f7f1d2;
  text-transform: uppercase;
}