<h1 style="margin-block: 1rem">{{ .Page }}</h1>
<table class="dataTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{ range $uid, $user := .Users }}
    <tr id="user-{{ $uid }}">
      <td>{{ $uid }}</td>
      <td>{{ $user.FirstName }} {{ $user.LastName }}</td>
      <td>
        <a class="actionBtn" onclick="viewUser({{ $uid }});">View</a>
        <a class="actionBtn" onclick="editUser({{ $uid }});">Edit</a>
        <a class="actionBtn" onclick="removeUser({{ $uid }});">Remove</a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
<button id="addUserBtn" class="fab" onclick="addUser();">➕</button>
<div id="actionDlg" class="hide">
  <div class="actionDlgContent">
    <h2>User Details</h2>
    <hr />
    <div id="formLoader">
      <img src="/loader.gif" height="275" width="275" alt="loader" />
    </div>
    <form id="userForm" onsubmit="save(event);">
      <div class="form-control">
        <label for="firstName">First Name</label>
        <input
          required
          id="firstName"
          name="firstName"
          placeholder="Users first name..."
        />
      </div>
      <div class="form-control">
        <label for="lastName">Last Name</label>
        <input
          required
          id="lastName"
          name="lastName"
          placeholder="Users last name..."
        />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input
          required
          id="password"
          name="password"
          placeholder="Users password..."
        />
      </div>
      <div class="form-control">
        <label for="age">Age</label>
        <input
          required
          type="number"
          max="120"
          min="18"
          id="age"
          name="age"
          placeholder="Users age..."
        />
      </div>
      <div class="form-control">
        <label for="address">Address</label>
        <textarea
          required
          id="address"
          name="address"
          placeholder="Users firstname..."
        ></textarea>
      </div>
      <div class="form-control">
        <label for="role">Role</label>
        <select required id="role" name="role">
          <option disabled>Please select a role</option>
          <option value="admin">Admin</option>
          <option value="manager">Manager</option>
          <option value="employee">Employee</option>
        </select>
      </div>
      <button id="saveBtn" type="submit">Submit</button>
      <button id="closeBtn" type="button" onclick="closeDlg();">Close</button>
    </form>
    <div id="formError"></div>
  </div>
</div>
